body {
        margin:0px;
        }
td {
        font:11px Arial, Helvetica, sans-serif;
        color:#000000;
        }

a {
        color: #FF6600;
        font-weight:bold;
        text-decoration:none;
        }

a:hover {
        color: #FFBA00;
        }

#navigation a {
        font:10px Arial, Helvetica, sans-serif;
        color: #26354A;
        text-decoration: none;
        letter-spacing:.1em;
        line-height:16px;
        display:block;
        padding: 0px 10px;
        border-right:1px solid #FF6600;
        }

#navigation a:hover {
        color:#ffffff;
        background: #FF6600;
        }

#padding {
        padding:14px;
        }

#calendar td {
        border: 1px solid #26354A;
        }

#noborder td {
        border: 0px;
        }

#calheader td {
        font-weight:bold;
        color: #ffffff;
        }

.logo {
        font:24px Times New Roman, Times, serif;
        color: #FFBA00;
        letter-spacing:.3em;
        line-height:26px;
        }

.tagline {
        font: 11px Arial, Helvetica, sans-serif;
        color: #D3DCE6;
        line-height:16px;
        }

.bodyText {
        font:11px Arial, Helvetica, sans-serif;
        line-height:22px;
        color:#26354A;
        letter-spacing:.1em;
        }

.detailText {
        font:11px Arial, Helvetica, sans-serif;
        line-height:16px;
        color:#26354A;
        letter-spacing:.1em;
        }

.pageName {
        font:20px Arial, Helvetica, sans-serif;
        color: #FF6600;
        letter-spacing:.2em;
        line-height:32px;
        }

.linkName {
        font:15px Arial, Helvetica, sans-serif;
        color: #FF6600;
        letter-spacing:.2em;
        line-height:23px;
        }

.style2 {
        font:14px Arial, Helvetica, sans-serif;
        color: #0022FF;
        }

.style3 {
        font:14px Arial, Helvetica, sans-serif;
        color: #FF6600;
        }

.subHeader {
        font:bold 12px Arial, Helvetica, sans-serif;
        color: #2D374D;
        font-weight:bold;
        line-height:20px;
        letter-spacing:.1em;
        }

.navText {
        font:10px Arial, Helvetica, sans-serif;
        color: #26354A;
        letter-spacing:.1em;
        line-height:16px;
        }

.calendarText {
        font:11px Arial, Helvetica, sans-serif;
        color: #26354A;
        letter-spacing:.1em;
        }


.sidebarText {
        font:11px Arial, Helvetica, sans-serif;
        color: #FFBA00;
        letter-spacing:.1em;
        line-height:18px;
        }

#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

#tooltip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after
{
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after
{
    left: 10px;
    margin: 0;
}

#tooltip.right:after
{
    right: 10px;
    left: auto;
    margin: 0;
}

.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
/* .classic {background: #FFFFAA; border: 1px solid #FFAD33; } */
.classic {background: #9FDAEE; border: 1px solid #2BB0D7; }
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
